table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table th {
    background-color: #f2f2f2;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table td:nth-child(2) {
    width: 150px;
}

footer a, footer a:visited {
    color: white;
    text-decoration: none;
}

table {
    margin: 20px auto;
}
