table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table th {
    background-color: #f2f2f2;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

table td:nth-child(2) {
    width: 150px;
}

footer a, footer a:visited {
    color: white;
    text-decoration: none;
}

table {
    margin: 20px auto;
}

table td:nth-child(2) span {
    margin-right: 5px;
}

table td:not(:nth-child(2)) span {
    margin-right: 5px;
}

#add-column {
    background-color: #4CAF50;
    color: white;
    border: 1px solid white; /* Add a transparent border */
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 8px;
}

#add-column:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}

table th, table td {
    min-width: 150px; /* Ensure minimum width for each cell */
    text-align: center;
}

table th:first-child, table th:last-child,
table td:first-child, table td:last-child {
    min-width: 50px; /* Reduce the width for the first and last columns */
}
